@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$aurora-color: #805ad5;

@import 'products';

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: rgb(20, 20, 32) !important;
  font-family: 'Ubuntu', sans-serif !important;
}

nav.navbar {
  position: sticky;
  top: 15px;
  transition: 0.3s;
  z-index: 100;

  .sitemap {
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      gap: 30px;

      li {
        a {
          color: #fff;
          transition: 0.3s;
          font-size: 1rem;
          line-height: 1.5rem;
          font-weight: 600;

          &.active,
          &:hover {
            color: $aurora-color;
          }
        }

        > button {
          text-decoration: none;
        }

        .dropdown {
          background-color: #141420;
          border-color: $aurora-color;

          a {
            background-color: transparent;
          }
        }
      }
    }
  }

  &.scrolled {
    top: 10px;
    background-color: #1a1d39;
  }
}

header.header {
  min-height: 100vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 768px) {
    padding-top: 100px;
  }

  .shapes {
    .blur {
      z-index: 1;
      pointer-events: none;
      top: 7rem;
      left: 1rem;
      position: absolute;
    }
  }

  .info {
    position: relative;
    z-index: 2;

    .title {
      font-size: 2.8rem;
      color: #fff;
      line-height: 1.25;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    .subtitle {
      color: rgb(161, 160, 174);
      line-height: 1.625;
      font-weight: 500;
      font-size: 1.125rem;
      margin-bottom: 2rem;
    }
  }

  .image {
    img {
      position: relative;
      transform: translateX(0);
      animation: floating 6s infinite ease-out;

      @keyframes floating {
        0% {
          transform: translateY(0);
        }

        50% {
          transform: translateY(-60px);
        }

        100% {
          transform: translateY(0);
        }
      }
    }
  }
}

.section-title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 3rem;

  .wrapper {
    @media (min-width: 575px) {
      display: flex;
      justify-content: space-between;
    }
    margin-bottom: 20px;
    margin-top: 20px;

    .title {
      color: #fff;
      font-weight: 700;
      line-height: 1;
      font-size: 1.875rem;

      @media (max-width: 575px) {
        margin-bottom: 10px;
      }
    }
  }
}

.gradient-title {
  max-width: 650px;
  text-align: center;
  margin-bottom: 3.5rem;
  margin-left: auto;
  margin-right: auto;

  .title {
    font-size: 4.5rem;
    line-height: 1.25;
    font-weight: 700;
    background-image: linear-gradient(
      158.44deg,
      #ebc77a 7.17%,
      #ca3f8d 52.72%,
      #5142fc 91.26%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .subtitle {
    color: rgb(161, 160, 174);
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}


.likes {
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  position: absolute;
  padding-left: 0.25rem;
  top: 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(20, 20, 32);
  right: 1rem;
  background-color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 3px;

  svg {
    color: #f85486;
    font-size: 1rem;
  }
}

ul.banner-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem 2rem;
  margin: 0;
  list-style: none;
  margin-bottom: 6rem;
  margin-top: 150px;
  background-color: #2c2c39;
  border: 2px solid #4d4c5a;
  border-radius: 0.5rem;

  li {
    color: #fff;

    a {
      color: #fff;
      transition: 0.4s;

      &:hover {
        color: $aurora-color;
      }
    }
  }

  li + li {
    padding-left: 0.5rem;

    &::before {
      float: left;
      padding-right: 0.5rem;
      color: #fff;
      content: '/';
    }
  }
}



.auctions {
  .single-auction {
    padding: 18px;
    background-color: rgb(44, 44, 57);
    border: 1px solid rgb(77, 76, 90);
    border-radius: 0.75rem;
    color: #fff;

    .image {
      overflow: hidden;
      border-radius: 0.5rem;
      position: relative;
      margin-bottom: 1.25rem;

      img {
        width: 100%;
        max-width: 100%;
        transition: 0.3s;
        height: 220px;
        object-fit: cover;
      }
    }

    .info {
      .title {
        margin-bottom: 0.75rem;
        color: #fff;
        font-size: 1.125rem;
        line-height: 1.75rem;
        text-decoration: none;
        display: inline-block;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }

      .avatar-col {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        align-items: center;

        .avatar-container {
          display: flex;
          align-items: center;
          gap: 5px;

          .name {
            font-weight: 600;
            font-size: 0.75rem;
            line-height: 1rem;
            color: #fff;
            margin: 0;
          }

          .job {
            font-weight: 500;
            font-size: 0.75rem;
            line-height: 1rem;
            color: rgb(161, 160, 174);
          }
        }

        .price-container {
          .price {
            font-weight: 600;
            font-size: 0.75rem;
            line-height: 1rem;
            color: #fff;
            margin: 0;
          }

          .bit {
            font-weight: 500;
            font-size: 0.75rem;
            line-height: 1rem;
            color: rgb(161, 160, 174);
          }
        }
      }

      .timer {
        color: #fff;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
        padding: 10px;
        border-radius: 0.375rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    &:hover {
      .image img {
        transform: scale(1.2);
      }
    }
  }
}

.artists {
  .single-artist {
    padding: 2px;
    border-radius: 0.75rem;
    background-color: rgb(77 76 90);
    transition: 0.3s;

    &:hover {
      background-image: linear-gradient(
        158.44deg,
        #ebc77a 7.17%,
        #ca3f8d 52.72%,
        #5142fc 91.26%
      );
    }

    .wrapper {
      padding: 1.5rem;
      border-radius: 0.75rem;
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: rgb(44 44 57);

      .name {
        color: #fff;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.75rem;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .earn {
        color: rgb(54 179 126);
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }
}

.artist-btn {
  cursor: pointer;
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: rgb(255 255 255/12%);
  background-color: rgb(255 255 255/0.05);
  color: #fff;
  transition: 0.3s;

  &:hover {
    background-color: $aurora-color;
  }
}

.features {
  .single-feature {
    padding: 1.75rem;
    background-color: rgb(44, 44, 57);
    border: 1px solid rgb(77, 76, 90);
    border-radius: 0.75rem;
    color: #fff;

    .avatar {
      svg {
        font-size: 2rem;
      }
    }

    .title {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
      line-height: 1.75;
      font-weight: 700;
    }

    .info {
      color: rgb(161, 160, 174);
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}

.collections {
  .single-collection {
    padding: 18px;
    background-color: rgb(44, 44, 57);
    border: 1px solid rgb(77, 76, 90);
    border-radius: 0.75rem;
    color: #fff;

    .info {
      .title {
        margin-bottom: 0.75rem;
        color: #fff;
        font-size: 1.125rem;
        line-height: 1.75rem;
        text-decoration: none;
        display: inline-block;
        font-weight: 600;

        &:hover {
          text-decoration: underline;
        }
      }

      .avatar-col {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .avatar-container {
          display: flex;
          align-items: center;
          gap: 5px;

          .name {
            font-weight: 600;
            font-size: 0.75rem;
            line-height: 1rem;
            color: #fff;
            margin: 0;
          }

          .job {
            font-weight: 500;
            font-size: 0.75rem;
            line-height: 1rem;
            color: rgb(161, 160, 174);
          }
        }
      }
    }
  }
}

.wallet {
  .single-wallet {
    padding: 1.75rem;
    background-color: rgb(44, 44, 57);
    border: 1px solid rgb(77, 76, 90);
    border-radius: 0.75rem;
    color: #fff;
    transition: 0.3s;

    &:hover {
      background-color: #fff;

      .title {
        color: #000;
      }
    }

    .title {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
      line-height: 1.75;
      transition: 0.3s;
      font-weight: 700;
    }

    .info {
      color: rgb(161, 160, 174);
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}

footer.footer {
  margin-top: 100px;
  padding-bottom: 6rem;
  padding-top: 6rem;
  color: #fff;
  background-color: rgb(44, 44, 57);

  .about {
    .favicon {
      margin-bottom: 20px;
      display: inline-block;
    }

    .info {
      color: rgb(161 160 174);
      margin-bottom: 20px;
    }

    ul.social-media {
      display: flex;
      align-items: center;
      gap: 20px;

      li {
        a {
          color: #fff;
          transition: 0.3s;
          font-size: 1.2rem;

          &:hover {
            color: $aurora-color;
          }
        }
      }
    }
  }

  .col {
    .col-title {
      color: #fff;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 2rem;
    }

    ul.sitemap {
      padding: 0;
      margin: 0;

      li {
        margin: 15px 0;

        a {
          color: rgb(161 160 174);
          transition: 0.3s;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  .subscribe {
    .info {
      color: rgb(161 160 174);
      margin-bottom: 20px;
    }

    form {
      position: relative;

      input {
        padding: 0.6rem 2.5rem 0.6rem 1.5rem;
        font-size: 0.9rem;
        border: 1px solid rgb(77, 76, 90);
        border-radius: 0.5rem;
        transition: 0.3s;

        &:focus {
          border-color: $aurora-color;
        }
      }

      button {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s;

        &:hover {
          color: $aurora-color;
        }
      }
    }
  }
}
